@model Microsoft.AspNetCore.Diagnostics.IExceptionHandlerFeature
<h2>Error</h2>

<article>
    <p>
        We appologize, but it appears you have found a bug in our software.  We'll look into fixing this for you.
    </p>
</article>